.header__logo-web {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.header__logo-studio {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}






.clients-item-logo {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .clients-item-logo {
            fill: #2196F3;
        }
    
        &:focus .clients-item-logo {
            fill: #2196F3;
        }
}


