.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (max-width:767px) {
        display: none;
    }
}

.modal {
    transform: translate(-50%, -50%);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 528px;
    /* height: 581px; */
    background-color: #FFFFFF;

@media screen and (max-width:767px) {
   display: none; 
}
}

.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 528px;
    padding: 40px;

}

.form-field {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

}

.form-imput:focus-within {
    border: 1px solid red;
}

.form-imput:focus-within+.form-imput-svg {
    fill: #2196F3;
}

.form-imput-svg {
    position: absolute;
    bottom: 0;
    transform: translate(10px, -10px);
}

.from-label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}



.form-imput {
    display: block;
    height: 40px;
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 14px 35px;
}

.form-field textarea::placeholder {
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.footer-mail-div input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.textarea-comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    padding: 12px 16px;
}

.policy {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.check:checked {
    appearance: none;
    position: absolute;
}

.check {
    appearance: none;
    position: absolute;
}

.policy-label {
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #757575;
}

.checkbox-craft {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #212121;
    ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border-radius: 4px;
    width: 16px;
    height: 15px;
    margin-right: 7px;
}

.check:checked+.checkbox-craft {
    background-image: url(../images/icon\ check.svg);
    background-size: contain;
    background-color: #2196F3;
    border-color: transparent;
    width: 16px;
    height: 15px;
    background-origin: content-box;
}

