.occupation {
    padding-top: 0px;
@media screen and (max-width:1199px) {
display: none;    
}
}

.occupation__block {
    display: block;
    position: relative;
    background: rgba(47, 48, 58, 0.8);
}

.occupation__img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    
}


.occupation__list {
    display: flex;
    gap: 30px;
}

.occupation__container {width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;}

