.peculiarities {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

@media screen and (min-width:480px) {
    min-width: 480px;

    }
@media screen and (min-width:768px) and (max-width:1199px) {
    width: 768px;
   
}

}


.peculiarities__icon {
    background: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    height: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @media screen and (min-width:480px) and (max-width:768px) {
        height: 120px;
        width: 450px;
        

    }
     @media screen and (min-width:768px) and (max-width:1199px) {
        height: 120px;
        width: 354px;
        margin-left: auto;
        margin-right: auto;
        
    }
}

.peculiarities__text {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    height: 72px;
    width: 270px;
    

    @media screen and (min-width:480px) and (max-width:767px) {
        font-size: 11px;
        height: 60px;
        width: 354px;
        }

    @media screen and (min-width:768px) and (max-width:1199px) {
        height: 48px;
        width: 354px;
        }
}

.peculiarities__title {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    // min-width: 270px;
    text-align: center;

    @media screen and (min-width:480px) {
        display: block;
        justify-content: center;
        text-align: center;
     

            }
     @media screen and (min-width:768px) and (max-width:1199px) {
        text-align: center;
            }


}

