.team-section {
background-color: #F5F4FA;

}

.site-team {
    display: flex;
    gap: 30px;

@media screen and (max-width:480px) {
        max-width: 480px;
        flex-wrap: wrap;
        justify-content: center;
    }

@media screen and (min-width:480px) and (max-width:767px) {
    max-width: 480px;
    flex-wrap: wrap;
    justify-content:center ;
    }

@media screen and (min-width:768px) and (max-width: 1199px) {
 width: 768px;  
flex-wrap: wrap;
justify-content: center;
}
}
.team-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.foto-box {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    width: 270px;

}

.team-foto {
    background-color: #ffffff;
    width: 270px;

    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team-list {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-link {
    background-color: #FFFFFF;
    fill: #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
            background-color: #2196F3;
        }
    
        &:hover {
            background-color: #2196F3;
        }
    
        &:hover .team-link-icon {
            fill: #FFFFFF;
        }
    
        &:focus .team-link-icon {
            fill: #FFFFFF;
        }
}

.team-link-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

